@font-face {
  font-family: "Gelion Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Regular Italic"),
    url("../fonts/Gelion Regular Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Regular"),
    url("../fonts/Gelion Regular.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Light"), url("../fonts/Gelion Light.woff") format("woff");
}

@font-face {
  font-family: "Gelion Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Thin Italic"),
    url("../fonts/Gelion Thin Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Light Italic"),
    url("../fonts/Gelion Light Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Thin"), url("../fonts/Gelion Thin.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Medium Italic"),
    url("../fonts/Gelion Medium Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Medium"), url("../fonts/Gelion Medium.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Semi Bold Italic"),
    url("../fonts/Gelion SemiBold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Semi Bold"),
    url("../fonts/Gelion SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Bold Italic"),
    url("../fonts/Gelion Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Bold"), url("../fonts/Gelion Bold.woff") format("woff");
}

@font-face {
  font-family: "Gelion Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Black Italic"),
    url("../fonts/Gelion Black Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Black"), url("../fonts/Gelion Black.woff") format("woff");
}

html {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  width: 100vw !important;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}

main {
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  width: 100vw !important;
  box-sizing: border-box !important;
}
/* Button Style */
.btn {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.btn-contact {
  color: #d56c00 !important;
}

/* Section Styles */
.service-image,
.api-image,
.guide-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero,
.mission,
.vision,
.our-team,
.security-section,
.question-section,
.footer-section,
.services,
.api-section,
.more,
.integration,
.faq-section,
.customer-story,
.customers,
.privacy-policy {
  width: 85%;
  margin: auto;
  height: 100%;
}

.navbar {
  width: 85%;
  margin: auto;
}

.active {
  color: #d56c00 !important;
}

.nav-wrapper {
  background: rgba(224, 145, 64, 0.7);
  position: fixed;
  top: 0;
  z-index: 1000000 !important;
  width: 100vw !important;
  height: 60px;
}

.fixed-top {
  z-index: 1000000 !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Nav Style */
.logo-text {
  color: #d56c00 !important;
}

.logo {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
}

.nav-link,
.dropdown-item {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: black;
}

.nav-link:hover {
  color: #d56c00 !important;
}

/* Hero Style */
.hero-wrapper {
  background-color: rgba(224, 145, 64, 0.1);
}

.onlinepayment-header {
  font-family: Gelion Bold;
  font-size: 56px;
  font-weight: bold;
  line-height: 72px;
  font-style: normal;
}

.onlinepayment-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 80%;
}

/* Seamless Style */
.seamless-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  max-width: 694px;
}

/* Purpose Style */
.purpose-header, .offcanvas-title {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
}

.purpose-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

/* Service Style */
.service-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.our-service {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 70%;
  margin: auto;
}

.our-service-home {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 80%;
}

.service-title-home {
  font-family: Gelion Medium;
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
}

.service-title {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
}

.service-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width:70%;
}

.service-text-home {
  font-family: Gelion Regular;
  margin-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px; 
}

.service-text-last {
  font-family: Gelion Regular;
  margin-left: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.line {
  margin-left: 10px;
  background: #d56c00;
  width: 0;
  border: .5px solid #e4aa70;
}

.number {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #d56c00;
}

/* Api Section Style */
.api-lists li {
  list-style-type: none;
}

.api-list-section {
  width: 80%;
}

.phone {
  transform: rotateY(180deg);
  object-position: 30% 0 !important;
  padding: 0 !important;
}

.api-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
}

.api-text,
.api-lists {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.api-text {
  width: 80%;
}

/* Security Section Style */
.security-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.security-title {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* line-height: 40px; */
  max-width: 70%;
}

.security-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 70%;
}

/* Question Section Style */
.question-wrapper {
  background: rgba(224, 145, 64, 0.1);
  min-height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
}

.question-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 85%;
}

/* Sitemap Section Style */
.sitemap-head {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #d56c00 !important;
}

.sitemap-link,
.sitemap-contact,
.sitemap-terms,
.sitemap > span {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
}

.email-title {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.email-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
}

.input-button {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #ccf3f8;
  border-radius: 5px;
  padding: 10px;
}

.input-button .form-control[type="text"] {
  width: 68%;
  border: none;
  outline: none;
  padding: 5px;
}

/* About Page */

/* Hero Section Style */
.hero-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
}

.hero-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 78%;
}

/* Mission Section Style */
.mission-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.mission-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 78%;
}

/* Vision Section Style */
.vision-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.vision-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 80%;
}

/* Team Section Style */
.our-team-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}
.name {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
}
.portfolio {
  font-family: Gelion Light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
}

.carousel {
  display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: red !important;
}
/* Timeline Section Style */

.customers-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  max-width: 770px;
}
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 1px;
  background: #888888;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.timeline-container.left {
  left: 0;
}

.timeline-container.right {
  left: 50%;
}

.timeline-container::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: calc(50% - 8px);
  right: -6px;
  background: #d56c00;
  border: 1px solid #d56c00;
  border-radius: 16px;
  z-index: 1000;
}

.timeline-container.right::after {
  left: -7px;
}

.timeline-container::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  top: calc(50% - 1px);
  right: 7px;
  background: #888888;
  z-index: 10;
}

.timeline-container.right::before {
  left: 7px;
}

.timeline-container .timeline-content {
  padding: 40px 35px 20px 50px;
  position: relative;
}

.timeline-container.right .timeline-content {
  padding: 15px 30px 20px 10px;
}

.timeline-container .timeline-content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
}

.timeline-container.left .timeline-content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
}

.timeline-container.left .timeline-content p {
  padding-top: 10px;
}

.timeline-container .timeline-content p {
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;
}

.timeline-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
}

.timeline-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

/* Payment Page Style */

/* Hero Section Style */

.payment-hero-wrapper {
  background: url("../ProductPage/svgs/Vector.svg") center/cover no-repeat;
}

.payment-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 72px;
}

.payment-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 80%;
}

/* More Section Style */

.more-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.work-process-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
}

.process-title {
  font-family: Gelion Medium;
  margin-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.process-text {
  font-family: Gelion Regular;
  margin-left: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 62%;
}

.process-text-last {
  font-family: Gelion Regular;
  margin-left: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 65%;
}

/* Integration Section Style */

.integration-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.integration-title {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 130%;
}

.integration-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 80%;
}

/* Pricing Page Style */

.pricing-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
  width: 85%;
}

/* Card Style */

.local-card,
.international-card {
  max-width: 574px !important;
}

.local-card {
  background-color: #ffffff;
}

.content-title {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.body-content {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: auto !important;
  width: 75%;
}

.card-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.international-card {
  background: #134778 !important;
  color: white;
}

.international-card .card-body {
  background: #134778 !important;
  color: white !important;
}

.card-lists li {
  list-style-type: none;
}

.card-lists {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: auto !important;
  width: 80%;
}

/* FAQs Section Style */
.faq {
  background: rgba(255, 222, 187, 0.2);
}

.faq-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.question {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
}

.answer {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

/* Contact Us Page */

.layer-blur {
  background: url('../ContactPage/svg/Layer-blur.svg') no-repeat center/cover;
  background-position: 0 100%;
}

.form-card {
  width: 70%;
  margin: auto;
  background-color: #ffffff !important;
}

.error-text {
  font-family: Gelion Regular;
}

.contact-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
}

.contact-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

.form-label {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
}

.form-control::placeholder,
select[value] {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.form-control:focus {
  outline: none !important;
  background: none !important;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

/* Testimonial Page Style */

/* Testimonial Hero section Style */

.testimonial-wrapper {
  background: url("../TestimonialPage/svgs/HeroWrapper.svg") no-repeat;
  background-position: right top;
}

.testimonial-header {
  font-family: Gelion Bold;
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  font-style: normal;
}

.testimonial-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 80%;
}

/* Customer Story Style Section */
.customer-story-header {
  font-family: Gelion Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
}

.story-text {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.customer-name {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.customer-portfolio {
  font-family: Gelion Light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
}

/* Privacy Page Style Section */
.scrollspy-example {
  position: relative;
  height: 500px;
  overflow-y: scroll;
}

.list-group-item {
  border: none !important;
}

.list-group a.active{
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* color: white !important; */
}

.list-group-item.active {
  background-color: transparent !important;
} 
.scrollspy-example h4 {
  font-family: Gelion Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
}

.scrollspy-example::-webkit-scrollbar {
  display: none;
}

.scrollspy-example p {
  font-family: Gelion Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 0;
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {

  section {
    margin-top: 15px !important;
    padding-top: 15px !important;
  }
  
  footer {
    margin-top: 15px !important;
    padding-top: 15px !important;
  }

  .timeline::after {
    left: 90px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .timeline-container.right {
    left: 0;
  }

  .timeline-container::before {
    content: none;
  }

  .timeline-container.left::after,
  .timeline-container.right::after {
    left: 82px;
  }

  .timeline-container.left::before,
  .timeline-container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .timeline-container.left .timeline-content,
  .timeline-container.right .timeline-content {
    padding: 30px 30px 30px 90px;
  }

  .api-text,
  .vision-text,
  .question-text,
  .mission-text,
  .hero-text,
  .onlinepayment-text,
  .our-service,
  .security-text,
  .process-text,
  .process-text-last,
  .pricing-header,
  .payment-text,
  .integration-text,
  .form-card,
  .service-text {
    width: 100%;
  }

  .service {
    text-align: center;
  }

  .security-title{
    max-width: 100%;
  }

  .purpose-header {
    padding-top: 20px !important;
  }
  .row-api-section {
    flex-direction: column-reverse;
  }
  .mission-row {
    flex-direction: column-reverse;
  }

  .our-service {
    font-size: 16px;
  }
  text-area.form-control {
    height: 50px !important;
  }
  
  .teams {
    display: none !important;
  }

  .carousel {
    display: block;
  }
}

@media only screen and (max-width: 395px) {
  .onlinepayment-header,
  .hero-header,
  .payment-header,
  .testimonial-header {
    font-size: 48px;
    line-height: normal;
  }

  .phone {
    transform: rotateY(180deg);
    /* width: 200px; */
    object-fit: scale-down;
    overflow: hidden;
  }

  .hero-header,
  .integration-header,
  .customers-header  {
    font-size: 36px;
    line-height: normal;
  }

  .pricing-header,
  .faq-header,
  .api-header,
  .service-header,
  .security-header,
  .contact-header,
  .customer-story-header,
  .mission-header,
  .vision-header,
  .our-team-header {
    font-size: 34px;
    line-height: normal;
  }

  .card-header {
    font-size: 32px;
    line-height: normal;
  }

  .content-title,
  .work-process-header,
  .integration-title {
    font-size: 28px;
    line-height: normal;
  }

  .onlinepayment-text,
  .api-text,
  .hero-text,
  .payment-text,
  .purpose-text,
  .timeline-text,
  .question-text,
  .service-text,
  .service-text-last,
  .process-text-last,
  .security-text,
  .body-content,
  .card-lists,
  .answer,
  .process-text,
  .integration-text,
  .form-label,
  .form-control::placeholder,
  select[value],
  .testimonial-text,
  .story-text,
  .customer-name,
  .service-title,
  .timeline-text,
  .mission-text,
  .vision-text {
    font-size: 14px;
  }

  .timeline-content {
    padding: 0;
  }
  .timeline-container .timeline-content p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .timeline-header {
    font-size: 22px;
    line-height: normal;
  }
  
  .process-title {
    font-size: 15px;
  }
  .contact-text,
  .our-service {
    font-size: 16px;
    line-height: normal;
  }
  .security-title {
    font-size: 18px;
  }

  .seamless-header,
  .more-header {
    font-size: 36px;
    line-height: normal;
  }
  .purpose, .mission {
    width: 80%;
    margin: auto;
  }
  .purpose-header,
  .question {
    font-size: 24px;
    line-height: normal;
  }
  .service-title {
    margin-left: 5px;
  }

  .service-text {
    margin-left: 18px;
  }
  .service-text-last {
    margin-left: 28px;
  }

  .timeline::after {
    left: 90px;
  }

  .timeline-container.left .timeline-content,
  .timeline-container.right .timeline-content {
    padding: 0;
  }

}
