.container {
  height: 40em;
  width: 30em;
  display: grid;
  place-items: center;
  text-align: center;
}

.btn_style {
  height: 50%;
  width: 40%;
  display: grid;
  place-items: center;
  align-self: flex-end;
}

.img_style {
  /* height: 20%; */
  width: 20%;
}

.img_style_positive {
  width: 50%;
}

.button_verfied {
  width: 45%;
}

.button_elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bottom_text span {
  margin-left: 2px;
}

.select_form_custom_light {
  width: 100%;
  height: 30px;
  border: 1px solid #f2f4f7;
  color: #726767;
}

.select_form_custom_dark {
  width: 100%;
  height: 30px;
  border: 1px solid #33333a;
  color: #eee7e7b2;
  background-color: #232329;
}

.select_form_custom_container {
  display: flex;
}

.select_form_custom_icon_dark {
  background: #33333a;
  border: 1px solid #33333a;
}
.select_form_custom_icon_light {
  background: #f2f4f7;
  border: 1px solid #f2f4f7;
}

.form_container {
  display: grid;
  place-items: center;
}

.name_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.button_newaccount img {
  width: 12px;
  margin-right: 10px;
}

.saveBtn {
  width: 10rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.currency_select {
  display: flex;
  align-items: center;
  height: 50%;
}

.currency_select_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
